body{
    background-color: blanchedalmond;
}
h1{
    text-align: center;
}
h3{
    text-align-last: center;
    font size: 15px;
    font weight:300px;
}
h5{
    text-align-last: center;
    font-size: 20px;
    font-weight:700;
}
h2{
    font size: 300px;
    font weight: 800px;
    margin-left: 5%;
}
.m{
    margin-left:5%;
    font size: 300px;

}
h4{
    margin-left:5%;
}
ul{
    margin-left: 8%;
}
p{
    margin-left: 5%;
}